{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'todo/css/styles.css' %}">
    <title>To-Dos</title>
</head>
<body>
    <div class="todo-container">
        <h1>To-Dos</h1>
    <section>
        <ul>
            {% for task in tasks %}
                <li>
                    <a href="{% url 'todo:todo_detail' task.id %}">{{ task.title }}</a>
                    {% if task.completed %}
                        (Completed)
                    {% else %}
                        (Not Completed)
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </section>
    <a href="{% url 'todo:todo_list' %}">Refresh</a>
    <p>
        <button>
            <a href="{% url 'todo:create_todo' %}">create task</a>
        </button>
    </p>
    </div>
</body>
</html>